.bg-img{
    /* background-image: url(../assets/images/pexels-jason-villanueva-851555.jpg); */
    background:linear-gradient(0deg, rgba(16, 15, 16, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/pexels-jason-villanueva-851555.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-caption{
    padding: 164px 0;
}
.banner-caption h1{
    font-size: 62px;
    font-weight: bold;
    color: #fff;
}

.banner-caption h3{
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    padding-top: 42px;
}
.coffee-section img{
    width: 100%;
}
.coffee-section-content{
    padding: 79px 65px;
}
.coffee-section-content h2{
    font-size: 41px;
}
.coffee-section-content p {
    padding-top: 38px;
    font-size: 16px;
}
.banner-2-sticky{
    /* background-image: url(../assets/images/banner-2.jpg); */
    background: url(../assets/images/coffee-seeds.jpg) no-repeat center center fixed;
    max-height: 900px;
    min-height: 750px;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    
}
.overlay{
    height: 100%;
    background: rgba(33,37,41,.85);
}
.padding-100{
    padding: 96px 0;
}